.Repo{
    width: 877px;
    height: 112px;
    margin-left: 85px;
    margin-bottom:24px;
}
.Repo-count{
    margin:28px 0 29px 85px ;
}
.Repo-card{
    width: 877px;
    height: 112px;
    background: white;
    
    border-radius: 6px;
    padding-left: 32px;
    padding-top: 24px;
}
.Repo-name{
    color: #0064EB;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
}
.Description{
    margin-top: 16px;
    font-size: 16px;
    line-height: 19px;
}
.NoRepo{
    margin-top: 221px;
    margin-left: 414px;
}
.NoRepo img{
    margin-bottom: 48px;
    margin-left: 84px;
}
.NoRepo p{
    font-size: 22px;
    line-height: 31px;
    color:#808080;
}
@media (max-width: 980px){
    .Repo{
        width: 70%;
        margin:20px auto;
    }
    .Repo-card{
        margin: 0;
        width: 100%;
    }
    .Description{
        font-size: 10px;
        margin-top: 2px;
    }
}